exportPattern("^[[:alpha:]]+")
useDynLib(amisbanana)
importFrom(Rcpp, evalCpp)
importFrom("mnormt", rmt)
import(methods)
export(amisbanana, computedmixture)
exportClasses("amispop", "amisparameter", "amisstrategy", "amiscriteria")
